.div{
    width: 200px;
    height: 200px;
    border: 1px solid #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 10px;
    position: absolute;
    top: 800px;
    right: 20px;
}